@import 'tailwindcss';

/*==================================================
	Variant
==================================================*/
@custom-variant light {
	@media (prefers-color-scheme: light) {
		&:where(:not(.dark *)) {
			@slot;
		}
	}

	&:where(.light *) {
		@slot;
	}
}

@custom-variant dark {
	@media (prefers-color-scheme: dark) {
		&:where(:not(.light *)) {
			@slot;
		}
	}

	&:where(.dark *) {
		@slot;
	}
}

/*==================================================
	Better border-radius
==================================================*/
@utility corner-shape-* {
	border-radius: --value([length], [*]);
	border-radius: --spacing(--value(number));

	@supports (corner-shape: superellipse(1)) {
		--compensation: 0.9;
		--exponent: 1.6;
		border-radius: calc(--value([length], [*]) * var(--exponent) * var(--compensation));
		border-radius: calc(--spacing(--value(number)) * var(--exponent) * var(--compensation));
		corner-shape: superellipse(var(--exponent));
	}
}

/*==================================================
	Custom Theme
==================================================*/
@theme {
	--color-primary-50:  color-mix(in oklch, var(--_white) 100%, color-mix(in oklch, var(--_primary-color), var(--_black) 0%));
	--color-primary-100: color-mix(in oklch, var(--_white) 88.8888888889%, color-mix(in oklch, var(--_primary-color), var(--_black) 0%));
	--color-primary-150: color-mix(in oklch, var(--_white) 77.7777777778%, color-mix(in oklch, var(--_primary-color), var(--_black) 0%));
	--color-primary-200: color-mix(in oklch, var(--_white) 66.6666666667%, color-mix(in oklch, var(--_primary-color), var(--_black) 0%));
	--color-primary-250: color-mix(in oklch, var(--_white) 55.5555555556%, color-mix(in oklch, var(--_primary-color), var(--_black) 0%));
	--color-primary-300: color-mix(in oklch, var(--_white) 44.4444444444%, color-mix(in oklch, var(--_primary-color), var(--_black) 0%));
	--color-primary-350: color-mix(in oklch, var(--_white) 33.3333333333%, color-mix(in oklch, var(--_primary-color), var(--_black) 0%));
	--color-primary-400: color-mix(in oklch, var(--_white) 22.2222222222%, color-mix(in oklch, var(--_primary-color), var(--_black) 0%));
	--color-primary-450: color-mix(in oklch, var(--_white) 11.1111111111%, color-mix(in oklch, var(--_primary-color), var(--_black) 0%));
	--color-primary-500: color-mix(in oklch, var(--_white) 0%, color-mix(in oklch, var(--_primary-color), var(--_black) 0%));
	--color-primary-550: color-mix(in oklch, var(--_white) 0%, color-mix(in oklch, var(--_primary-color), var(--_black) 11.1111111111%));
	--color-primary-600: color-mix(in oklch, var(--_white) 0%, color-mix(in oklch, var(--_primary-color), var(--_black) 22.2222222222%));
	--color-primary-650: color-mix(in oklch, var(--_white) 0%, color-mix(in oklch, var(--_primary-color), var(--_black) 33.3333333333%));
	--color-primary-700: color-mix(in oklch, var(--_white) 0%, color-mix(in oklch, var(--_primary-color), var(--_black) 44.4444444444%));
	--color-primary-750: color-mix(in oklch, var(--_white) 0%, color-mix(in oklch, var(--_primary-color), var(--_black) 55.5555555556%));
	--color-primary-800: color-mix(in oklch, var(--_white) 0%, color-mix(in oklch, var(--_primary-color), var(--_black) 66.6666666667%));
	--color-primary-850: color-mix(in oklch, var(--_white) 0%, color-mix(in oklch, var(--_primary-color), var(--_black) 77.7777777778%));
	--color-primary-900: color-mix(in oklch, var(--_white) 0%, color-mix(in oklch, var(--_primary-color), var(--_black) 88.8888888889%));
	--color-primary-950: color-mix(in oklch, var(--_white) 0%, color-mix(in oklch, var(--_primary-color), var(--_black) 100%));

	--color-body-white: oklch(from var(--color-primary-50)  .99 .01 h);
	--color-body-50:    oklch(from var(--color-primary-50)  l   .01 h);
	--color-body-100:   oklch(from var(--color-primary-100) l   .01 h);
	--color-body-150:   oklch(from var(--color-primary-150) l   .01 h);
	--color-body-200:   oklch(from var(--color-primary-200) l   .01 h);
	--color-body-250:   oklch(from var(--color-primary-250) l   .01 h);
	--color-body-300:   oklch(from var(--color-primary-300) l   .01 h);
	--color-body-350:   oklch(from var(--color-primary-350) l   .01 h);
	--color-body-400:   oklch(from var(--color-primary-400) l   .01 h);
	--color-body-450:   oklch(from var(--color-primary-450) l   .01 h);
	--color-body-500:   oklch(from var(--color-primary-500) l   .01 h);
	--color-body-550:   oklch(from var(--color-primary-550) l   .01 h);
	--color-body-600:   oklch(from var(--color-primary-600) l   .01 h);
	--color-body-650:   oklch(from var(--color-primary-650) l   .01 h);
	--color-body-700:   oklch(from var(--color-primary-700) l   .01 h);
	--color-body-750:   oklch(from var(--color-primary-750) l   .01 h);
	--color-body-800:   oklch(from var(--color-primary-800) l   .01 h);
	--color-body-850:   oklch(from var(--color-primary-850) l   .01 h);
	--color-body-900:   oklch(from var(--color-primary-900) l   .01 h);
	--color-body-950:   oklch(from var(--color-primary-950) l   .01 h);
	--color-body-black: oklch(from var(--color-primary-950) .18 .01 h);

	--color-error-50:  oklch(from var(--color-primary-50)  l c 29.23);
	--color-error-100: oklch(from var(--color-primary-100) l c 29.23);
	--color-error-150: oklch(from var(--color-primary-150) l c 29.23);
	--color-error-200: oklch(from var(--color-primary-200) l c 29.23);
	--color-error-250: oklch(from var(--color-primary-250) l c 29.23);
	--color-error-300: oklch(from var(--color-primary-300) l c 29.23);
	--color-error-350: oklch(from var(--color-primary-350) l c 29.23);
	--color-error-400: oklch(from var(--color-primary-400) l c 29.23);
	--color-error-450: oklch(from var(--color-primary-450) l c 29.23);
	--color-error-500: oklch(from var(--color-primary-500) l c 29.23);
	--color-error-550: oklch(from var(--color-primary-550) l c 29.23);
	--color-error-600: oklch(from var(--color-primary-600) l c 29.23);
	--color-error-650: oklch(from var(--color-primary-650) l c 29.23);
	--color-error-700: oklch(from var(--color-primary-700) l c 29.23);
	--color-error-750: oklch(from var(--color-primary-750) l c 29.23);
	--color-error-800: oklch(from var(--color-primary-800) l c 29.23);
	--color-error-850: oklch(from var(--color-primary-850) l c 29.23);
	--color-error-900: oklch(from var(--color-primary-900) l c 29.23);
	--color-error-950: oklch(from var(--color-primary-950) l c 29.23);

	--color-warning-50:  oklch(from var(--color-primary-50)  l c 52.98);
	--color-warning-100: oklch(from var(--color-primary-100) l c 52.98);
	--color-warning-150: oklch(from var(--color-primary-150) l c 52.98);
	--color-warning-200: oklch(from var(--color-primary-200) l c 52.98);
	--color-warning-250: oklch(from var(--color-primary-250) l c 52.98);
	--color-warning-300: oklch(from var(--color-primary-300) l c 52.98);
	--color-warning-350: oklch(from var(--color-primary-350) l c 52.98);
	--color-warning-400: oklch(from var(--color-primary-400) l c 52.98);
	--color-warning-450: oklch(from var(--color-primary-450) l c 52.98);
	--color-warning-500: oklch(from var(--color-primary-500) l c 52.98);
	--color-warning-550: oklch(from var(--color-primary-550) l c 52.98);
	--color-warning-600: oklch(from var(--color-primary-600) l c 52.98);
	--color-warning-650: oklch(from var(--color-primary-650) l c 52.98);
	--color-warning-700: oklch(from var(--color-primary-700) l c 52.98);
	--color-warning-750: oklch(from var(--color-primary-750) l c 52.98);
	--color-warning-800: oklch(from var(--color-primary-800) l c 52.98);
	--color-warning-850: oklch(from var(--color-primary-850) l c 52.98);
	--color-warning-900: oklch(from var(--color-primary-900) l c 52.98);
	--color-warning-950: oklch(from var(--color-primary-950) l c 52.98);

	--color-ok-50:  oklch(from var(--color-primary-50)  l c 142.4953);
	--color-ok-100: oklch(from var(--color-primary-100) l c 142.4953);
	--color-ok-150: oklch(from var(--color-primary-150) l c 142.4953);
	--color-ok-200: oklch(from var(--color-primary-200) l c 142.4953);
	--color-ok-250: oklch(from var(--color-primary-250) l c 142.4953);
	--color-ok-300: oklch(from var(--color-primary-300) l c 142.4953);
	--color-ok-350: oklch(from var(--color-primary-350) l c 142.4953);
	--color-ok-400: oklch(from var(--color-primary-400) l c 142.4953);
	--color-ok-450: oklch(from var(--color-primary-450) l c 142.4953);
	--color-ok-500: oklch(from var(--color-primary-500) l c 142.4953);
	--color-ok-550: oklch(from var(--color-primary-550) l c 142.4953);
	--color-ok-600: oklch(from var(--color-primary-600) l c 142.4953);
	--color-ok-650: oklch(from var(--color-primary-650) l c 142.4953);
	--color-ok-700: oklch(from var(--color-primary-700) l c 142.4953);
	--color-ok-750: oklch(from var(--color-primary-750) l c 142.4953);
	--color-ok-800: oklch(from var(--color-primary-800) l c 142.4953);
	--color-ok-850: oklch(from var(--color-primary-850) l c 142.4953);
	--color-ok-900: oklch(from var(--color-primary-900) l c 142.4953);
	--color-ok-950: oklch(from var(--color-primary-950) l c 142.4953);

	--font-serif: var(--font-instrument-serif), ui-serif, serif;
	--font-sans-serif: var(--font-inter), ui-sans-serif, sans-serif;
	--font-mono: var(--font-jetbrains-mono), ui-monospace, monospace;
	/*==================================================
		Font
		startValue + (endValue - startValue) * (((index - 1) / (totalNumber - 1)) ^ 1.5)
	==================================================*/
	--text-custom-md:  calc(1rem + (3rem - 1rem) * pow((0 / 6), 1.5)); /* 1.0000000000rem */
	--text-custom-lg:  calc(1rem + (3rem - 1rem) * pow((1 / 6), 1.5)); /* 1.1360827635rem */
	--text-custom-xl:  calc(1rem + (3rem - 1rem) * pow((2 / 6), 1.5)); /* 1.3849001795rem */
	--text-custom-2xl: calc(1rem + (3rem - 1rem) * pow((3 / 6), 1.5)); /* 1.7071067812rem */
	--text-custom-3xl: calc(1rem + (3rem - 1rem) * pow((4 / 6), 1.5)); /* 2.0886621079rem */
	--text-custom-4xl: calc(1rem + (3rem - 1rem) * pow((5 / 6), 1.5)); /* 2.5214515486rem */
	--text-custom-5xl: calc(1rem + (3rem - 1rem) * pow((6 / 6), 1.5)); /* 3.0000000000rem */
}

/*==================================================
	Base styles
==================================================*/
@layer base {
	:root {
		color-scheme: light;
		interpolate-size: allow-keywords;

		/*==================================================
			Global styling variables
		==================================================*/
		--hue:           277;
		--isDarkMode:    0;
		--header-offset: calc((1.5rem * .75 * 2 + 1.5rem) * 2);

		--min: .20;
		--max: .97;
		--_primary-color: oklch(.585 .2 var(--hue));
		--_black: oklch(from var(--_primary-color) var(--min) calc(c * var(--min) / l) h);
		--_white: oklch(from var(--_primary-color) var(--max) calc(c * (1 - var(--max)) / (1 - l)) h);
	}

	@property --tabs-index {
		syntax: "<integer>";
		inherits: true;
		initial-value: 0;
	}

	/*==================================================
		Dark mode switch
	==================================================*/
	@media (prefers-color-scheme: dark) {
		html:not(.light) {
			--isDarkMode: 1;
			color-scheme: dark;
		}
	}
	html.dark {
		--isDarkMode: 1;
		color-scheme: dark;
	}

	/*==================================================
		Global resets & defaults
	==================================================*/
	*,
	::before,
	::after {
		outline: solid 2px transparent;
		outline-offset: 2pt;
	}

	*:focus-visible {
		outline: solid 2px var(--color-primary-500);
	}

	.skip-link {
		position: absolute;
		z-index: 20;
		inset-inline-start: 50%;
		inset-block-start: 50%;
		translate: -50% -50%;
		overflow: hidden;
		clip-path: inset(50%);
		white-space: nowrap;
	}

	.skip-link:is(:focus, :focus-visible) {
		clip-path: none;
		overflow: visible;
	}

	::selection,
	::target-text {
		color: var(--color-primary-50);
		background: var(--color-primary-500);
	}

	html {
		/*==================================================
			Header
				- height: 1.5rem
				- padding-block-start: height * 0.75
				- padding-block-end:   height * 0.75
				- margin-block-start:  (height + padding-block-start + padding-block-end) / 2 (translate-y-1/2)
			1.5rem + 1.125rem + 1.125rem + 1.875rem = 5.625rem
			added margin below the header so it matches top: 5.625rem + 1.875rem = 7.5rem
		==================================================*/
		scroll-padding-top: 7.5rem;
		hanging-punctuation: first last;
	}

	@media (prefers-reduced-motion: no-preference) {
		html {
			scroll-behavior: smooth;
		}
	}

	/*==================================================
		Typography
	==================================================*/
	body,
	dialog > * {
		font-family: var(--font-sans-serif);
		color: var(--color-body-700);
		font-size: var(--text-custom-md);
		font-weight: 400;
		font-variant-ligatures: none;
		line-height: 1.33;

		@variant dark {
			color: var(--color-body-300);
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-serif);
		color: var(--color-body-900);
		line-height: 1;
		text-wrap: balance;

		@variant dark {
			color: var(--color-body-100);
		}
	}

	h1 {
		font-size: calc(69rem / 16); /* wanted 69px in rem */
	}

	h2 {
		font-size: var(--text-custom-4xl);
	}

	h3 {
		font-size: var(--text-custom-3xl);
	}

	h4 {
		font-size: var(--text-custom-2xl);
	}

	h5 {
		font-size: var(--text-custom-xl);
	}

	h6 {
		font-size: var(--text-custom-lg);
	}

	p {
		max-width: 51.5ch;
		text-wrap: pretty;
	}

	*[class*="mono"] {
		font-variant-ligatures: normal;
	}

	code,
	kbd,
	pre,
	samp {
		font-family: var(--font-mono);
		font-variant-ligatures: normal;
	}

	.align-center {
		vertical-align: middle;
		margin-block-start: calc(1ex - 1cap);
	}

	/*==================================================
		Header
	==================================================*/
	header {
		.hamburger-button {
			.path1,
			.path3 {
				stroke-dasharray: 60 207;
			}

			.path2 {
				stroke-dasharray: 60 60;
			}
		}

		&:popover-open {
			.hamburger-button {
				.path1,
				.path3 {
					stroke-dasharray: 90 207;
					stroke-dashoffset: -134;
				}

				.path2 {
					stroke-dasharray: 1 60;
					stroke-dashoffset: -30;
				}
			}
		}
	}

	/*==================================================
		Full-Bleed Layout
	==================================================*/
	.breakout-wrapper {
		--gap: 2rem;
		--full: minmax(var(--gap), 1fr);
		--breakout: minmax(0, var(--gap));
		--content: min(100% - var(--gap) * 2, 80rem); /* 80rem = 1280px */

		display: grid;
		grid-template-columns:
			[full-start] var(--full)
			[\2xl-start] var(--breakout)
			[xl-start] var(--breakout)
			[lg-start] var(--breakout)
			[md-start] var(--breakout)
			[sm-start] var(--breakout)
			[content-start] var(--content) [content-end]
			var(--breakout) [sm-end]
			var(--breakout) [md-end]
			var(--breakout) [lg-end]
			var(--breakout) [xl-end]
			var(--breakout) [\2xl-end]
			var(--full) [full-end];

		& > * {
			grid-column: content;
		}

		& > .col-sm { grid-column: sm; }
		& > .col-md { grid-column: md; }
		& > .col-lg { grid-column: lg; }
		& > .col-xl { grid-column: xl; }
		& > .col-2xl { grid-column: \2xl; }
		& > .col-full { grid-column: full; }
	}

	/*==================================================
		Animated details
	==================================================*/
	@supports (interpolate-size: allow-keywords) {
		details:not(.\[--tabs-index\:sibling-index\(\)\]) {
			overflow: hidden;
		}

		/*! don't add margin or padding here !*/
		details:not(.\[--tabs-index\:sibling-index\(\)\])::details-content {
			block-size: 0;
			transition-property: block-size, content-visibility;
			transition-duration: 0.3s;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			transition-behavior: allow-discrete;
		}

		/*! don't add margin or padding here !*/
		details:not(.\[--tabs-index\:sibling-index\(\)\]):open::details-content {
			block-size: auto;
		}
	}

	/*==================================================
		Code blocks
	==================================================*/
	.shiki {
		counter-reset: step;
		counter-increment: step 0;

		overflow-x: auto;
		padding: 1rem;
		border-radius: 0.5rem;

		& .line::before {
			content: counter(step);
			counter-increment: step;
			display: inline-block;
			color: light-dark(rgb(232, 232, 226), rgb(59, 63, 86));
			text-align: right;
			width: calc(1ch * round(to-zero, log(sibling-count(), 10)) + 1ch);
			margin-right: 2ch;
		}

		@container style(--isDarkMode: 1) {
			&,
			& span {
				font-style: var(--shiki-dark-font-style) !important;
				font-weight: var(--shiki-dark-font-weight) !important;
				color: var(--shiki-dark) !important;
				text-decoration: var(--shiki-dark-text-decoration) !important;
				background-color: var(--shiki-dark-bg) !important;
			}
		}
	}

	@property --turn {
		syntax: "<angle>";
		inherits: false;
		initial-value: 0turn;
	}

	@keyframes animatedButtonBorder {
		0% { --turn: 0turn; }
		100% { --turn: 1turn; }
	}
}